@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic");

::-moz-selection {
    background: rgba(219, 22, 35, 0.5);
}

::selection {
    background: rgba(219, 22, 35, 0.5);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    opacity: 1;
}

/* Sidebar search */
.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    max-width: 400px;
    width: -webkit-calc(100% - 2em);
    width: calc(100% - 2em);
    vertical-align: top;
}

.input-field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    -webkit-appearance: none;
}

.input-field:focus {
    outline: none;
}

.input-label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #151518;
    font-weight: bold;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing--moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 23px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.input_fill .input-label {
    color: #db1623;
}

.input-label-content {
    position: relative;
    display: block;
    padding: 1em 0;
    width: 100%;
}

.input_main-search {
    overflow: hidden;
}

.input-field_main-search {
    margin-top: 1em;
    padding: 1.5em 0;
    width: 100%;
    background: transparent;
    color: #151518;
}

.input-label_main-search {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: -webkit-calc(100% - 1em);
    height: calc(100% - 1em);
    text-align: left;
    pointer-events: none;
}

.input-label-content_main-search {
    position: absolute;
}

.input-label_main-search::before,
.input-label_main-search::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: -webkit-calc(100% - 10px);
    height: calc(100% - 10px);
    border-bottom: 1px solid #151518;
}

.input-label_main-search::after {
    margin-top: 2px;
    border-bottom: 4px solid red;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    border-color: #db1623;
}

.input-field_main-search:focus + .input-label_main-search::after,
.input_fill .input-label_main-search::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input-field_main-search:focus + .input-label_main-search .input-label-content_main-search,
.input_fill .input-label-content_main-search {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}

@keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}

.button {
    display: inline-block;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
    min-width: 75px;
    min-height: 30px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: #f6f6fe;
    color: #fff;
    text-decoration: none;
    padding: 10px 16px;
    text-align: center;
    outline: none;
}

.button:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}

.button-accent {
    background: #db1623;
    color: #fff;
    -webkit-box-shadow: 0 10px 36px rgba(219, 22, 35, 0.25), 0 4px 24px 0 rgba(219, 22, 35, 0.45);
    box-shadow: 0 10px 36px rgba(219, 22, 35, 0.25), 0 4px 24px 0 rgba(219, 22, 35, 0.45);
}

.button-big {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}

.button-circle {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    min-width: 50px;
    height: 50px;
    width: 50px;
}

.grid {
    display: grid;
}

.content {
    display: grid;
    grid-template-columns: 350px 1fr 0fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    display: grid;
    grid-template-rows: 85px 65px 65px 1fr;
    padding: 15px 0 0 0;
    background: #f7f7f7;
}

.sidebar .profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
}

.sidebar .profile .avatar {
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.sidebar .profile .avatar img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 55px;
}

.sidebar .profile .title {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
}

.sidebar .profile .title .user-name {
    color: #db1623;
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: -5px;
}

.sidebar .profile .title .user-status {
    color: #66666f;
    font-size: 0.8em;
    font-weight: 500;
}

.sidebar .tab-icons {
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(5px, 10px) minmax(5px, 10px) minmax(5px, 10px));
    grid-gap: 75px;
}

.sidebar .tab-icons a {
    display: grid;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.sidebar .tab-icons img {
    height: 20px;
    opacity: 1;
}

.sidebar .search {
    display: grid;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
}

.tab-links {
    cursor: pointer;
}

.tab-content {
    animation: fadeEffect 1s;
}

.sidebar .list {
    padding: 30px 0;
}

.sidebar .list .dialogs ul {
    display: grid;
    list-style: none;
    height: -webkit-calc(100vh - 30px - 65px - 75px - 65px - 60px);
    height: calc(100vh - 30px - 65px - 75px - 65px - 60px);
    overflow-y: scroll;
}

.sidebar .list .dialogs ul::-webkit-scrollbar-track {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
}

.sidebar .list .dialogs ul::-webkit-scrollbar {
    width: 3px;
    background: transparent;
}

.sidebar .list .dialogs ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    border-radius-box-shadow: none;
    background: transparent;
}

.sidebar .list .dialogs:hover ul::-webkit-scrollbar-track {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
}

.sidebar .list .dialogs:hover ul::-webkit-scrollbar {
    width: 3px;
    background: transparent;
}

.sidebar .list .dialogs:hover ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #db1623;
}

.sidebar .list .dialogs ul li {
    text-decoration: none;
    grid-template-columns: 1fr 4fr;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 95px;
}

.sidebar .list .dialogs ul li:hover {
    background: #2196e0;
    background: -webkit-gradient(linear, left top, right top, from(#db1623), to(#EA0C0C));
    background: -webkit-linear-gradient(left, #db1623 0%, #EA0C0C 100%);
    background: -o-linear-gradient(left, #db1623 0%, #EA0C0C 100%);
    background: linear-gradient(90deg, #db1623 0%, #EA0C0C 100%);
}

.sidebar .list .dialogs ul li:hover .text .user-name {
    color: #fff;
}

.sidebar .list .dialogs ul li.focus {
    outline: none;
    border-left-color: #db1623;
    border-left-width: 3px;
    border-left-style: solid;
}

.sidebar .list .dialogs ul .profile {
    padding: 0 20px;
}

.sidebar .list .dialogs ul .profile img {
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #40464d;
    height: 55px;
    -webkit-box-shadow: 0 10px 36px rgba(21, 21, 24, 0.25), 0 4px 24px 0 rgba(21, 21, 24, 0.45);
    box-shadow: 0 10px 36px rgba(21, 21, 24, 0.25), 0 4px 24px 0 rgba(21, 21, 24, 0.45);
}

.sidebar .list .dialogs ul .profile .status {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    bottom: -15px;
    left: -10px;
}

.sidebar .list .dialogs ul li.focus .profile {
    padding: 0px 20px 0 17px;
}

.sidebar .list .dialogs ul .profile .online {
    background: #2dc100;
}

.sidebar .list .dialogs ul .profile .offline {
    background: #ef3d3d;
}

.sidebar .list .dialogs ul .text {
    display: grid;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.sidebar .list .dialogs ul .text .user-name,
.sidebar .list .dialogs ul .text .dialog-footer {
    display: block;
    color: #db1623;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 20px;
}

.sidebar .list .dialogs ul .text .user-name {
    font-size: 1em;
    font-weight: 500;
}

.sidebar .list .dialogs ul .text .msg {
    font-size: 0.8em;
    font-weight: 400;
}

.sidebar .list .dialogs ul .text .dialog-footer {
    font-size: 0.8em;
    font-weight: 300;
    color: #151518;
}

.dialog {
    display: grid;
    grid-template-rows: 115px 1fr 115px;
    background: #fff;
    border-left: 1px solid rgba(102, 102, 111, 0.3);
}

.dialog .dialog-header {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(102, 102, 111, 0.3);
}

.dialog .dialog-header .dialog-header-wrap {
    padding: 15px 30px 14px 30px;
}

.dialog .dialog-header .dialog-header-wrap .title {
    display: grid;
    grid-template-columns: 1fr;
}

.dialog .dialog-header .dialog-header-wrap .title .user-name {
    color: #151518;
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: -5px;
}

.dialog .dialog-header .dialog-header-wrap .title .user-status {
    color: #66666f;
    font-size: 0.8em;
    font-weight: 500;
}

.dialog .dialog-chat {
    padding: 30px;
    border-bottom: 1px solid rgba(102, 102, 111, 0.3);
}

.dialog .dialog-chat ul {
    list-style: none;
}

.dialog .dialog-chat ul li {
    margin-bottom: 30px;
}

.dialog .dialog-chat .incoming {
    display: grid;
    grid-template-columns: 55px auto;
    grid-gap: 15px;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.dialog .dialog-chat .incoming .profile img {
    height: 55px;
    width: 55px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.chat-messages {
    overflow-y: scroll;
    height: calc(100vh - 30px - 65px - 75px - 65px - 60px - 30px);
}

.dialog .dialog-chat .incoming .msg {
    display: grid;
    grid-template-columns: minmax(150px, 500px);
    grid-template-rows: 15px auto;
    grid-gap: 10px;
}

.dialog .dialog-chat .incoming .msg .msg-header {
    font-size: 12px;
    font-weight: 500;
    color: #66666f;
    vertical-align: center;
}

.dialog .dialog-chat .incoming .msg .msg-content.text {
    font-size: 14px;
    padding: 15px 30px;
    color: #151518;
    background: #f1f0f5;
    -webkit-border-radius: 0 10px 10px 10px;
    border-radius: 0 10px 10px 10px;
}

.dialog .dialog-chat .sent {
    display: grid;
    grid-template-columns: auto 55px;
    grid-gap: 15px;
    -webkit-box-pack: end;
    -webkit-justify-content: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.dialog .dialog-chat .sent .profile img {
    height: 55px;
    width: 55px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.dialog .dialog-chat .sent .msg {
    display: grid;
    grid-template-columns: minmax(160px, 500px);
    grid-template-rows: 15px auto;
    grid-gap: 10px;
    -webkit-box-pack: end;
    -webkit-justify-content: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.dialog .dialog-chat .sent .msg .msg-header {
    font-size: 12px;
    font-weight: 500;
    color: #66666f;
    text-align: right;
}

.dialog .dialog-chat .sent .msg .msg-content.text {
    font-size: 14px;
    padding: 15px 30px;
    color: #fff;
    background: #db1623;
    -webkit-border-radius: 10px 0 10px 10px;
    border-radius: 10px 0 10px 10px;
}

.dialog .dialog-footer {
    display: grid;
    grid-template-columns: 75px 1fr 50px 50px 75px;
    grid-template-rows: 115px;
    background: #fff;
}

.dialog .dialog-footer .send {
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.dialog .dialog-footer .attachment a,
.dialog .dialog-footer .emoji a,
.dialog .dialog-footer .voice a,
.dialog .dialog-footer .send a {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.dialog .dialog-footer .attachment img,
.dialog .dialog-footer .emoji img,
.dialog .dialog-footer .voice img,
.dialog .dialog-footer .send img {
    height: 20px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.dialog .dialog-footer .attachment img:hover,
.dialog .dialog-footer .emoji img:hover,
.dialog .dialog-footer .voice img:hover {
    -webkit-transform: rotate(-45deg) scale(1.1);
    -ms-transform: rotate(-45deg) scale(1.1);
    transform: rotate(-45deg) scale(1.1);
}

.dialog .dialog-footer .emoji img,
.dialog .dialog-footer .voice img,
.dialog .dialog-footer .send img {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.dialog .dialog-footer .emoji img:hover,
.dialog .dialog-footer .voice img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.dialog .dialog-footer .text {
    grid-template-columns: 1fr;
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.dialog .dialog-footer .text input {
    font-size: 16px;
    font-weight: 300;
    color: #000;
    opacity: 0.7;
    border: none;
    outline: none;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}