@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    opacity: 1;
    background: #f2f7f9;
}

button {
    cursor: pointer;
    background-color: white;
    border: none;
    display: inline-block;
}
button:active {
    background-color: #e0e5e8;
}

button:focus {
    outline: none;
    border: 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

input[type=search] {
    height: 35px;
    width: 100%;
    color: #868b8e;
    background: url(../img/search.png) no-repeat scroll 20px 11px #363d45;
    border: none;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    padding: 11px 50px 10px 50px;
    outline: none;
}

.grid {
    display: grid;
}

.content {
    grid-template-columns: minmax(300px, 1fr) 3fr;
    min-width: 100vw;
    min-height: 100vh;
}

.content .list {
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 35px;
    background: #242a31;
    background: -webkit-linear-gradient(293deg, #242a31 0%, #2d343c 100%);
    background: -o-linear-gradient(293deg, #242a31 0%, #2d343c 100%);
    background: linear-gradient(157deg, #242a31 0%, #2d343c 100%);
}

.content .list .search-bar {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px solid #40464d;
}

.content .list .dialogs ul {
    list-style: none;
}

.content .list .dialogs ul li {
    text-decoration: none;
    grid-template-columns: 1fr 4fr;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 75px;
}

.content .list .dialogs ul li:hover {
    background: #2196e0;
    background: -webkit-gradient(linear, left top, right top, from(#2196e0), to(#47f0ea));
    background: -webkit-linear-gradient(left, #2196e0 0%, #47f0ea 100%);
    background: -o-linear-gradient(left, #2196e0 0%, #47f0ea 100%);
    background: linear-gradient(90deg, #2196e0 0%, #47f0ea 100%);
}

.content .list .dialogs ul li:focus {
    outline: none;
    border-left-color: #2b80ff;
    border-left-width: 3px;
    border-left-style: inset;
    -webkit-border-image: -webkit-gradient(linear, right top, left top, color-stop(100%, #2196e0), color-stop(0%, #47f0ea)) 0 0 0 100%;
    -webkit-border-image: -webkit-linear-gradient(right, #2196e0 100%, #47f0ea 0%) 0 0 0 100%;
    -o-border-image: -o-linear-gradient(right, #2196e0 100%, #47f0ea 0%) 0 0 0 100%;
    border-image: -webkit-gradient(linear, right top, left top, color-stop(100%, #2196e0), color-stop(0%, #47f0ea)) 0 0 0 100%;
    border-image: linear-gradient(right, #2196e0 100%, #47f0ea 0%) 0 0 0 100%;
}

.content .list .dialogs ul li.focus {
    outline: none;
    border-left-color: #2b80ff;
    border-left-width: 3px;
    border-left-style: inset;
    -webkit-border-image: -webkit-gradient(linear, right top, left top, color-stop(100%, #2196e0), color-stop(0%, #47f0ea)) 0 0 0 100%;
    -webkit-border-image: -webkit-linear-gradient(right, #2196e0 100%, #47f0ea 0%) 0 0 0 100%;
    -o-border-image: -o-linear-gradient(right, #2196e0 100%, #47f0ea 0%) 0 0 0 100%;
    border-image: -webkit-gradient(linear, right top, left top, color-stop(100%, #2196e0), color-stop(0%, #47f0ea)) 0 0 0 100%;
    border-image: linear-gradient(right, #2196e0 100%, #47f0ea 0%) 0 0 0 100%;
}

.content .list .dialogs ul .profile {
    padding: 8px 20px 0 20px;
}

.content .list .dialogs ul li.focus .profile {
    padding: 8px 20px 0 17px;
}

.content .list .dialogs ul .profile img {
    display: block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #40464d;
    height: 50px;
}

.content .list .dialogs ul .profile .status {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    bottom: 13px;
    left: 39px;
}

.content .list .dialogs ul .profile .online {
    background: #2dc100;
}

.content .list .dialogs ul .profile .offline {
    background: #ef3d3d;
}

.content .list .dialogs ul .text {
    display: grid;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.content .list .dialogs ul .text .user-name,
.content .list .dialogs ul .text .msg {
    display: block;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 20px;
}

.content .list .dialogs ul .text .user-name {
    font-size: 14px;
    font-weight: 500;
}

.content .list .dialogs ul .text .msg {
    font-size: 12px;
    font-weight: 300;
    opacity: .5;
}

.content .list .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    opacity: .5;
    padding: 0 25px;
}

.content .list .footer a:last-child {
    text-align: right;
}

.content .dialog {
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 75px;
    background: #e0e3ea;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e3ea), to(rgba(45, 52, 60, 0)));
    background: -webkit-linear-gradient(top, #e0e3ea 0%, rgba(45, 52, 60, 0) 100%);
    background: -o-linear-gradient(top, #e0e3ea 0%, rgba(45, 52, 60, 0) 100%);
    background: linear-gradient(180deg, #e0e3ea 0%, rgba(45, 52, 60, 0) 100%);
}

.content .dialog .dialog-header {
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px inset #d8dddf;
    background: #fff;
    color: #293037;
    font-size: 14px;
    font-weight: 300;
    padding: 0 25px;
}

.content .dialog .dialog-header b {
    font-weight: 500;
}

.content .dialog .chat {
    border-bottom: 1px inset rgba(0, 0, 0, 0.2);
    padding: 25px;
    overflow-y: scroll;
}

.content .dialog .chat ul {
    list-style: none;
}

.content .dialog .tab-content {
    animation: fadeEffect 1s;
}

.content .dialog .chat .tab-content ul li {
    grid-template-rows: minmax(55px 1fr);
    grid-gap: 25px;
    margin-bottom: 25px;
}

.content .dialog .chat .tab-content ul li .user {
    width: 45px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;

    /*
    .time
      position: relative
      font-size: 12px
      font-weight: 500
    */
}

.content .dialog .chat .tab-content ul li .user img {
    height: 45px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.content .dialog .chat .tab-content ul li .chat-msg {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 20px;
    position: relative;
    /*
    &:before
      content: ''
      display: block
      position: absolute
      border: 10px solid transparent
      left: -20px
      bottom: 42px
      border-right-color: #fff
      border-width: 10px
    */
}

.content .dialog .chat .tab-content ul li:last-child {
    margin-bottom: 0;
}

.content .dialog .tab-content li.incoming {
    grid-template-columns: 45px 1fr;
}

.content .dialog .tab-content li.incoming .chat-msg {
    background: #fff;
    color: rgba(0, 0, 0, 0.9);
}

.content .dialog .tab-content li.sent {
    grid-template-columns: 1fr 45px;
}

.content .dialog .tab-content li.sent .chat-msg {
    background: #0084ff;
    color: #fff;
}

.content .dialog .msg {
    grid-template-columns: 75px 1fr 50px 50px 75px;
    grid-template-rows: 75px;
    background: #fff;
}

.content .dialog .msg .attachment a,
.content .dialog .msg .emoji a,
.content .dialog .msg .voice a,
.content .dialog .msg .send a {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.content .dialog .msg .attachment img,
.content .dialog .msg .emoji img,
.content .dialog .msg .voice img,
.content .dialog .msg .send img {
    height: 20px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.content .dialog .msg .attachment img:hover,
.content .dialog .msg .emoji img:hover,
.content .dialog .msg .voice img:hover,
.content .dialog .msg .send img:hover {
    -webkit-transform: rotate(-45deg) scale(1.1);
    -ms-transform: rotate(-45deg) scale(1.1);
    transform: rotate(-45deg) scale(1.1);
}

.content .dialog .msg .emoji img,
.content .dialog .msg .voice img,
.content .dialog .msg .send img {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.content .dialog .msg .emoji img:hover,
.content .dialog .msg .voice img:hover,
.content .dialog .msg .send img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.content .dialog .msg .text {
    grid-template-columns: 1fr;
    width: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.content .dialog .msg .text input {
    font-size: 16px;
    font-weight: 300;
    color: #000;
    opacity: 0.7;
    border: none;
    outline: none;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }
    .content .list {
        display: none;
    }
    .content .dialog {
        width: 100vw;
        height: 100vh;
        grid-template-rows: 50px 1fr 50px;
    }
}
