.chat {
  grid-column: 4 / -1;
  display: grid;
  grid-template: calc(100vh - 140px) 75px/1fr;
  background: #f3f6f9;
}

.chat__dialogs-list,
.chat__dialog,
.dialog {
  text-decoration: none;
  list-style: none;
}

.chat__dialogs-list {
  position: relative;
}

.chat__dialogs-list:empty:after {
  position: absolute;
  top: 50%;
  left: 45%;
  content: 'Нет сообщений';
  margin-top: 150px;
}

.chat-list__item {
  display: none;
  animation: fadeEffect 1.5s;
  padding: 0 30px;
}

.chat-list__item:first-child {
  display: block;
}

.chat__dialog {
  display: none;
}

.chat__dialog_active {
  display: block;
}

.dialog {
  display: block;
  padding: 0px 30px;
}

.dialog li:first-child {
  margin-top: 30px;
}

.dialog__meta {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

.dialog__meta span {
  padding: 5px 15px;
  background: main-colors('accent');
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
}

.dialog__wrap-msg {
  display: grid;
  grid-template: auto / auto auto;
  grid-auto-flow: dense;
  align-items: center;

  width: 100%;
  height: auto;
  margin: 10px 0;
}

.dialog__wrap-msg_incoming {
  justify-content: start;
  float: left;
}

.dialog__wrap-msg_sent {
  justify-content: end;
  //float: right;
}

.dialog__msg {
  float: inherit;
  max-width: 100%;
  min-width: 110px;
  box-sizing: border-box;
  height: auto;
  padding: 5px 10px;
  //margin: 15px 0;
  border-radius: 10px;
}

.dialog__wrap-msg_sent .dialog__msg {
  grid-column: 2;
}

.dialog__msg-text {
  word-wrap: break-word;
  vertical-align: baseline;
  font-weight: 400;
  font-size: .9rem;
  line-height: .9rem;
}

.dialog__msg-meta {
  display: grid;
  align-items: center;
  float: inherit;
  width: 100px;
  height: 33px;
  color: #c1ccd8;
  font-weight: 600;
  font-size: 0.7rem;
  padding: 0 20px;
  //margin: 15px 0;
}

.dialog__wrap-msg_sent .dialog__msg-meta {
  grid-column: 1;
  justify-content: end;
}

.dialog__msg-meta_sent {
  text-align: right;
}

.dialog__msg_incoming {
  background: #fff;
  color: #000;
}

.dialog__msg_sent {
  background: main-colors('accent');
  color: #fff;
}

.chat .chat__header {
  display: inline-grid;
  grid-template-columns: repeat(12, 1fr);
  height: calc(6vh);
  position: relative;
  background: #fff;
  border-top: 1px solid #c5cfd9;
  border-right: 1px solid #c5cfd9;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  z-index: 3;
}

.chat .chat__header .message-search{
  grid-column-start: 6;
  grid-column-end: 13;

  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
}

.chat-search__input{
  display: block;
  height: calc(4vh);
  margin-top: calc(1vh);
  grid-column-start: 1;
  grid-column-end: 4;
  border-radius: 15px;
  float: right;
}

.chat-seach__run{
  position: relative;
  padding: 24px;
  margin-top: 2px;
  margin-left: 24px;
  background:url(../img/search3.png) no-repeat;
  border: none;

  cursor: pointer;
}

.chat-seach__end{
  position: relative;
  padding: 18px;
  margin-top: 8px;

  background:url(../img/button1.png) no-repeat;
  border: none;

  cursor: pointer;
}

.chat-seach__run:hover{
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 1);
  border-radius: 12px;
}

.chat-seach__end:hover{
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 1);
  border-radius: 8px;
}

.chat__footer {
  display: grid;
  grid-template: 75px / 1fr 100px;
  padding-right: 30px;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  z-index: 5;
}

.msg-box {
  display: grid;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 10px 30px;
  position: relative;
}

.btn-box {
  display: grid;
  grid-template: 75px / 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.btn-box__icon {
  display: grid;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  text-decoration: none;
  color: #1586fd;
}

#dialog_window{
  display: none;
}

.emoji-menu {
  height: 200px;
  width: 250px;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 119;
  right: -4px;
  bottom: 31px;
  border-radius: 4px;
  box-shadow: 0 1px 20px 5px rgba(0,0,0,.1);
  background-color: #ffffff;
  border: 1px solid #c5d0db;
  position: absolute;
  margin-right: 146px;
  margin-bottom: 50px;
  visibility: hidden;
  -o-transition: opacity 150ms ease-in-out, visibility 150ms ease-in-out 150ms;
  transition: opacity 1500ms ease-in-out, visibility 150ms ease-in-out 150ms;
  overflow-y: auto;
  overflow-x: unset;
}

.emoji-font {
  font-family: 'EmojiOneColor';
}

.emoji-menu_shown {
  visibility: visible;
  -o-transition: opacity 150ms ease-in-out, visibility 0ms ease-in-out 0ms;
  transition: opacity 150ms ease-in-out, visibility 0ms ease-in-out 0ms;
  opacity: 1;
  filter: none;
}

.emoji-menu .emoji-list {
  position: relative;
}

.emoji-list {
  list-style-type: none;
  margin: 5px;
}

.emoji-list li {
  display: inline-block;
  margin: 3px;
  cursor: pointer;
}
