.sidebar {
  grid-column: 1 / 4;

  display: grid;
  grid-template: 70px 1fr / 1fr;

  border-right: 1px solid #e8e8e8;
  background: #fff;
  position: relative;
}

.sidebar_showed {
  display: grid;
}

.sidebar-search {
  display: grid;
  align-items: center;

  padding: 0 16px;
}

.sidebar__btn {
  position: absolute;
  bottom: 45px;
  left: 30px;
}

.dialogs-list {
  height: calc(100vh - 115px);
  overflow-y: scroll;
}

.dialogs-list::-webkit-scrollbar {
  width: 0;
}

.dialogs-list__dlg {
  list-style: none;
}

.dialogs-list__dlg:first-child {
  margin-top: 0;
}

.dlg-item,
.dialogs-list__dlg {
  display: block;
  height: 75px;
}

.dialogs-list__dlg_active {
  background-color: #f1f1f1;
}

.dlg-item:hover {
  cursor: pointer;
}

.dialogs-list__dlg_newest {
  // box-shadow: 0 8px 24px rgba(197, 207, 217, 0.8);
}

.dlg-item {
  position: relative;
  display: block;
  padding: 13px 16px;
  text-decoration: none;
  clear: both;
}

.dlg-item__meta {
  float: right !important;
  text-align: right;
  font-size: 0.65rem;
  font-weight: 600;
  color: #9b9b9b;
}

div .dlg-item__photo {
  margin-right: 15px;
}

.dlg-item__photo,
.dlg-item__photo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  float: left !important;
}

.dlg-item__msg-wrap {
  height: 50px;
  padding: 3px 0;
  overflow: hidden;
  line-height: 20px;
}

.dlg-item__title {
  font-size: 0.9rem;
  font-weight: bold;
  color: #222;
}

.dlg-item__short-text {
  font-size: .8rem;
  font-weight: 600;
  color: #a1a1a1;
}

.dlg-item__label {
  position: absolute;
  top: 35px;
  right: 18px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 0.65rem;
  font-weight: 600;
  color: #fff;
  background: main-colors('accent');
  border-radius: 50%;
}
