::selection {
  background: #737373;
}
::-moz-selection {
  background: #737373;
}

.header {
  background-color: #2a292b;
  border-color: #222222;
}

.header-menu__logo {
  background: url(/img/logo/logo-full-white-blue.png) no-repeat center center;
  background-size: cover;
}

.burger-icon__line {
  background-color: #fff;
}

.header-settings__link {
  color: #fff;
}

.sidebar,
.chat__footer,
.msg-box,
.msg-box__input {
  background-color: #2a292b;
}

.chat {
  background-color: #141414;
}

.sidebar {
  border-color: #222222;
}

.dialogs-list__dlg {
  background-color: #2a292b;
}

.dialogs-list__dlg:hover {
  background: #1f1f1f;
}

.dialogs-list__dlg_active {
  background-color: #1f1f1f;
}

.dlg-item__meta{
  color: #989898;
}

.dlg-item__short-text {
  color: #888888;
}

.dlg-item__title {
  color: #d2d6d5;
}

.dlg-item__label {
  background-color: #f1f1f1;
  color: #363636;
}

.sidebar-search__input {
  background-color: #363636;
  color: #fff;
  border-color: none;
}

.dialog__meta span {
  background-color: #4b4b4b;
}

.dialog__msg_incoming {
  background-color: #2a292b;
  color: #c9cdcc;
}

.dialog__msg_sent {
  background-color: #3a3a3a;
  color: #c9cdcc;
}

.dialog__msg-meta {
  color: #989898;
}

.msg-box__input {
  color: #fff;
}

.modal {
  background-color: rgba(20, 20, 20, 0.4);
}

.modal-content {
  background-color: #363636;
  border-color: #2a292b;
}

.button-accent {
  background: #1f1f1f;
  color: #fff;
  box-shadow: 0 10px 36px rgba(31, 31, 31, 0.25), 0 4px 24px 0 rgba(31, 31, 31, 0.45);
}

.btn-box__icon {
  color: #1f1f1f;
}

.input-field {
  background: #fff;
}

.input-label {
  color: #fff;
}

.input-label_primary::after,
.input-label_primary::before {
  border-color: #fff;
}

.input-field_primary {
  color: #222;
}

.chat__dialogs-list:empty:after {
  color: #363636;
}
