.button {
  display: inline-block;
  font-family: $font-stack;
  font-size: 16px;
  line-height: 14px;
  font-weight: 500;
  min-width: 75px;
  min-height: 30px;
  border-radius: 50px;
  background: #f6f6fe;
  color: #fff;
  text-decoration: none;
  padding: 10px 16px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-2px);
}

.button-accent {
  background: #1586fd;
  color: #fff;
  box-shadow: 0 10px 36px rgba(21, 134, 253, 0.25), 0 4px 24px 0 rgba(21, 134, 253, 0.45);
}

.button-big {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  padding: 16px 30px;
}

.button-solid {
  background: #000;
  box-shadow: none;
}

.button-circle {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  min-width: 45px;
  line-height: 45px;
  padding: 0;
}

.burger-icon {
  width: 25px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.burger-icon__line {
  width: 100%;
  height: 4px;
  display: block;
  background: #222;
  position: absolute;
  border-radius: 3px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.burger-icon .burger-icon__line:nth-child(1) {
  top: 0px;
  left: 0px;
}

.burger-icon .burger-icon__line:nth-child(2) {
  top: 8px;
  left: 0px;
}

.burger-icon .burger-icon__line:nth-child(3) {
  bottom: 0px;
  left: 0px;
}

.burger-icon:not(.click-burger-icon):hover .burger-icon__line:nth-child(1) {
  width: 100%;
  height: 4px;
  display: block;
  top: -2px;
  left: 0px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.burger-icon:not(.click-burger-icon):hover .burger-icon__line:nth-child(2) {
  width: 100%;
  height: 4px;
  display: block;
  top: 8px;
  left: 0px;
  transition: 0.4s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.burger-icon:not(.click-burger-icon):hover .burger-icon__line:nth-child(3) {
  width: 100%;
  height: 4px;
  display: block;
  bottom: -2px;
  left: 0px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}

.click-burger-icon .burger-icon__line:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.click-burger-icon .burger-icon__line:nth-child(2) {
  transform: scale(0.1);
}

.click-burger-icon .burger-icon__line:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
}
