input[type=search] {
  -webkit-appearance: none;
}

.sidebar-search__input {
  height: 36px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 0 20px;
  line-height: 36px;
  font-weight: 400;
  background-color: #f1f1f1;
}

.msg-box__input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  width: calc(100% - 60px);
  outline: none;
  background: transparent;
  border: none;
  font-size: 0.9em;
  font-weight: 400;
  margin: auto auto;
  padding: 10px 0;
  color: #222;
}
